<ion-header>
    <ion-navbar>
      <ion-title>Lista de Contatos</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <!-- <ion-list>
      <button ion-item *ngFor="let item of contactList | async" (click)="itemSelected(item.name)">
        {{ item.name | json }}
      </button>
    </ion-list> -->

    <ion-card *ngFor="let item of contactList | async">
  
      <ion-card-content>
        <ion-card-title>
          {{ item.name }}
          
          <ion-input *ngIf="isEdit === true" [(ngModel)]="contactName" type="text" placeholder="Nome"></ion-input>

        </ion-card-title>
        <p *ngIf="isEdit === false">
          {{ item.tel }}
          
        </p>

        <ion-input *ngIf="isEdit === true" [(ngModel)]="contactTel" type="number" placeholder="Telefone"></ion-input>

      </ion-card-content>
  
      <ion-row no-padding>
        <ion-col text-center>
          <button *ngIf="isEdit === false" (click)="handleEdit()" ion-button clear small color="primary" icon-start>
            <ion-icon name='checkbox'></ion-icon>
            Alterar
          </button>

          <button *ngIf="isEdit === true" (click)="updateContact(item)" ion-button clear small color="primary" icon-start>
            <ion-icon name='send'></ion-icon>
            Salvar
          </button>
        </ion-col>
        <ion-col text-right>
          <button (click)="removeContact(item)" ion-button clear small color="danger" icon-start>
            <ion-icon name='trash'></ion-icon>
            Deletar
          </button>
        </ion-col>
      </ion-row>
  
    </ion-card>
  </ion-content>